@model myfinance_web_dotnet.Models.TransacaoModel
@{
    ViewData["Title"] = "Transações";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Transaction" asp-action="Salvar" method="post">

    <div class="container">
        @Html.HiddenFor(m => m.Id)

        <div class="mb-3">
            @Html.LabelFor(m => m.Data)
            <input type="date" id="txtData" class="form-control" asp-for="Data"/>
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Valor)
            <input type="text" id="txtValor" class="form-control" asp-for="Valor" step="0.01">
        </div>

        <div class="mb-3">
            <label class="form-label">Plano de Conta</label>
            @Html.DropDownListFor(m => m.PlanoContaId, Model.PlanoContas, new { @class="form-select"})
        </div>
    <div class="mb-3">
            <label class="form-label">Escolha o tipo de pagamento</label>
        @Html.DropDownList("PagamentoId", String.Empty)
    </div>

        <div class="mb-3">
            <label class="form-label">Histórico</label>
            <input type="text" id="txtHistorico" class="form-control" asp-for="Historico">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">
                Registrar
            </button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Voltar()">
                Cancelar
            </button>
        </div>
    </div>
</form>

<script>
    function Voltar() {
        window.location.href = "/Transacao/Index"
    }
</script>